<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="JavierFerrerSB.FluentTasks"
    Publisher="CN=JavierFerrerSB"
    Version="1.0.1.0" />

  <mp:PhoneIdentity PhoneProductId="645b8942-f8bf-44dc-a10b-baf54d2edbe6" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>FluentTasks</DisplayName>
    <PublisherDisplayName>Javier Ferrer SB</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-US" />
    <Resource Language="es-ES" />
    <Resource Language="de-DE" />
    <Resource Language="fr-FR" />
    <Resource Language="it-IT" />
    <Resource Language="pt-PT" />
    <Resource Language="ru-RU" />
    <Resource Language="zh-CN" />
    <Resource Language="zh-TW" />
    <Resource Language="ja-JP" />
    <Resource Language="ko-KR" />
    <Resource Language="nl-NL" />
    <Resource Language="pl-PL" />
    <Resource Language="tr-TR" />
    <Resource Language="sv-SE" />
    <Resource Language="da-DK" />
    <Resource Language="fi-FI" />
    <Resource Language="nb-NO" />
    <Resource Language="cs-CZ" />
    <Resource Language="el-GR" />
    <Resource Language="he-IL" />
    <Resource Language="ar-SA" />
    <Resource Language="hi-IN" />
    <Resource Language="th-TH" />
    <Resource Language="vi-VN" />
    <Resource Language="id-ID" />
    <Resource Language="ms-MY" />
    <Resource Language="uk-UA" />
    <Resource Language="bg-BG" />
    <Resource Language="hr-HR" />
    <Resource Language="sk-SK" />
    <Resource Language="sl-SI" />
    <Resource Language="sr-Latn-RS" />
    <Resource Language="ro-RO" />
    <Resource Language="hu-HU" />
    <Resource Language="ca-ES" />
    <Resource Language="et-EE" />
    <Resource Language="lv-LV" />
    <Resource Language="lt-LT" />
    <Resource Language="ga-IE" />
    <Resource Language="mt-MT" />
    <Resource Language="bn-BD" />
    <Resource Language="pa-PK" />
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="FluentTasks"
        Description="A modern Google Tasks client for Windows"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png" ShortName="Fluent Tasks"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="white"/>
	  </uap:VisualElements>
	</Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
